html,
body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.container {
  margin: 20px;
  padding: 20px;
}

.container2,
.container3,
.container4 {
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 10px;
  padding-top: 20px;
}
.headline {
  font-size: 20px;
  color: #333;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
}
span {
  font-weight: bold;
  color: #dea513;
}
p {
  font-size: 20px;
  line-height: 1.6;
  color: #191818;
  text-align: justify;
  margin-bottom: 40px;
  font-family: sans-serif;
}

.container2 {
  margin-left: 180px;
  margin-right: 180px;
  width: 70vw;
  height: auto;
  max-width: 1000px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.container2 {
  background-image: url("../images/payTrakz_image.jpg");

  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.content {
  height: 100%;
  padding: 20px;
  background-color: rgba(455, 455, 455, 0.6);
  border-radius: 0 0 10px 10px;
}
p.content-home {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin: 20px 0;
  padding: 0 20px;
  text-align: justify;
}

.title {
  font-size: 25px;
  text-align: center;
  color: rgb(181, 13, 13);
  font-size: bold;
  padding-top: 0;
}
p {
  font-size: 20px;
  color: #080808;
  text-align: center;
}

.container2 h6 {
  text-align: center;
  color: black;
}
.container2 .centered-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5131bb;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;

}

.container2 .centered-button:hover {
  background-color: #eef7ee;
  color: #191818;
}
.container2 img {
  width: 90px;
  height: 50px;
  left: 0;
  position: relative;
  padding: left 30px;
}

.container3 {
  display: flex;
  margin-top: 20px;
  width: 80vw;
  height: 80vh;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.container3 h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 40px;
}

.container3 p {
  color: #666;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 40px;
  margin-bottom: 20px;
  max-width: 300px;
  text-align: left;
  overflow: hidden;
}
.container3 .image2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
}
.container3 .image1 {
  width: 400px;
  height: 400px;
  right: 0;
  position: absolute;
  border-radius: 2rem;
}

.container4 {
  width: 70vw;
  height: 30vh;
  margin-top: 20px;
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container4 h5 {
  color: #e29b28;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: underline;
}

.container4 p {
  color: #080808;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  text-align: center;
}

.container4 .button {
  display: flex;
  display: inline-block;
  padding: 10px 10px;
  background-color: #323ba6;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

.container4 .button:hover {
  background-color: #f3fbf4;
  color: #080808;
}

@media only screen and (max-width: 300px) {
  .container4 {
    width: 80vw;
    height: 80vh;
  }
  .container4 .button {
    flex-direction: column;
    font-size: 10px;
  }

.container4 p {
  font-size: 16px;
}
.container2 {
  width: 80vw;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}
.container2 img {
  width: 50px;
  height: 20px;
}

div.content {
  padding-top: 0;
  font-size: 10px;
}
p.content-home {
  font-size: 12px;
  padding-top: 0;
}}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: auto;
  }
  .container4 {
    width: 80vw;
    height: 100vh;
  }
  .container4 p {
    font-size: 14px;
  }
  .container4 .button {
    flex-direction: column;
    font-size: 10px;
  }
  .container3 {
    width: 80vw;
    height: 75vh;
    flex-direction: column;
  }
  .container3 .image1,
  .container3 .text {
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  .container3 h3 {
    font-size: 15px;
  }
  .container3 p {
    font-size: 12px;
  }
  .container3 .image2 {
    width: 35px;
    height: 35px;
  }
  .container3 .image1 {
    width: 200px;
    height: 100px;
    position: relative;
    margin-left: 50px;
    padding-bottom: 10px;
    border: 2px #333;
  }

.container2 {
  width: 80vw;
  height: 70vh;
  background-size: 100%;
  background-repeat: no-repeat;
}
.container h2 {
  font-size: 20px;
}
.container2 img {
    width: 50px;
    height: 20px;
  }
  
  div.content {
    padding-top: 0;
    font-size: 10px;
  }
p.content-home {
    font-size: 12px;
    padding-top: 0;
  }
.container p {
  font-size: 16px;
}
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .container4 {
    width: 80vw;
    height: 75vh;
  }
  .container4 p {
    font-size: 14px;
  }
  .container4 .button {
    flex-direction: column;
    font-size: 10px;
  }
  .container3 {
    width: 80vw;
    height: 75vh;
    flex-direction: column;
  }
  .container3 .image1,
  .container3 .text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .container3 h3 {
    font-size: 15px;
  }
  .container3 p {
    font-size: 12px;
  }
  .container3 .image2 {
    width: 35px;
    height: 35px;
  }
  .container3 .image1 {
    width: 200px;
    height: 100px;
    position: relative;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .container4 {
    width: 80vw;
    height: 45vh;
  }
}
